.card {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    margin: auto;
    text-align: center;
    gap: 1em;
}

.table {
    background-color: white;
    border: 1px solid #343434;
    border-spacing: 0;
    font-variant-numeric: tabular-nums;
}

.table th {
    background-color: antiquewhite;
    color: firebrick;
    padding-inline: 0.5em;
    padding-block: 0.25em;
}

.table td {
    padding-inline: 0.5em;
    padding-block: 0.25em;
}